.page{
    position: absolute;
width: 1440px;
height: 1024px;

background: #F2F2F2;
   }
   
  .card{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px; 
  }
  
  .label-class{
    position: absolute;
    left: 37.57%;
    right: 37.64%;
    top: 64.55%;
    bottom: 33.4%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    text-align: center;
    
    color: #3988FF;
  }
  .input-class{
      position: absolute;
      left: 0%;
      right: 0%;
      top: 32.35%;
      bottom: 0%;

      background: #E5E5E5;
      border: 1px solid #CCCCCC;
      box-sizing: border-box;
      border-radius: 8px;
  }
   .form-class {
    height: min-content;
    width: auto;
    max-width: max-content;
    padding: 15px;
    margin: auto;
  }
  