.page{
    position: absolute;
    width: 1440px;
    height: 1024px;    
    background: #F2F2F2;
   }
.card-body{
    height: min-content;
    width: auto;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #cccccc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.label-detail{
    color: #3988FF;
  }
.img-detail{
    border-radius: 50%;
}